<!--

-->
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Add TV Show</div>
		<div class="panel-body">

			<!--
				When you hit the Add button, AngularJS will execute the "addShow()" function defined in the "AddCtrl"
				controller because of this line.
			-->
			<form class="form" method="post" ng-submit="addShow()" name="addForm">
				<!--
					We are using "ng-class" directive to dynamically add Bootstrap classes "has-success" and "has-error"
					depending on the state of the form.  THe reason for checking if the form field is "$dirty", i.e.
					user interacted with it, is to avoid flagging it as invalid before a user even got a chance to enter
					any text.
				-->
				<div class="form-group" ng-class="{ 'has-success' : addForm.showName.$valid && addForm.showName.$dirty, 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">
					<input class="form-control" type="text" name="showName" ng-model="showName" placeholder="Enter TV show name" required autofocus>
					<div class="help-block text-danger" ng-if="addForm.showName.$dirty" ng-messages="addForm.showName.$error">
						<div ng-message="required">TV show name is reuqired.</div>
					</div>
				</div>

				<button class="btn btn-primary" type="submit" ng-disabled="addForm.$invalid">Add</button>
			</form>

		</div>
	</div>
</div>