<div class="container">
	<br/>

	<div class="row">
		<div class="center-form panel">

			<form method="post" ng-submit="signup()" name="signupForm">
				<div class="panel-body">
					<h2 class="text-center">Sign up</h2>


					<!--
						Dynamically assigning "has-success" and "has-error" CSS classes depending on whether the form is valid
						or not.  These CSS classes are pat of the Bootstrap framework.  
						AngularJS is smart enough to use native HTML attributes such as type="email" and required for input
						validation.
					-->
					<div class="form-group" ng-class="{ 'has-success' : signupForm.email.$valid && signupForm.email.$dirty, 'has-error' : signupForm.email.$invlaid && signupForm.email.$dirty }">
						
						<input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required autofocus>

						<!-- The "ngMessages" is a new feature in the AngularJS 1.3 Beta 8 -->
						<div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
							<div ng-message="required">Your email address is required</div>
							<div ng-message="email">Your email address is invalid.</div>
						</div>
					</div>


					<div class="form-group" ng-class="{ 'has-success' : signupForm.password.$valid && signupForm.password.$dirty, 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
						<input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>

						<div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
							<div ng-message="required">Passsword is required.</div>
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-success' : signupForm.confirmPassword.$valid && signupForm.confirmPassword.$dirty, 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">

						<!-- directive repeat-password is controlled by "directives/repeatPassword.js"-->
						<input class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" repeat-password="password" placeholder="Confirm Password" required>

						<div class="help-block text-danger my-special-animation" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
							<div ng-message="required">You must confirm password.</div>
							<div ng-message="repeat">Passwords do not match.</div>
						</div>
					</div>

					<button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">
						Create Account
					</button>
				</div>
			</form>
			
		</div>
	</div>
</div>